<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to mybid.com</h1>
    <p>
     To Complete your sign up, visit to : <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    
    <p>My Team</p>
  </body>
</html>